// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  background :black;
  margin :0;
  padding: 0;
}
h1{
  color:darkmagenta;
  padding-left : 45%
}
h2{
  color: darkgoldenrod
}
h3 {
  color:burlywood;
  
}
a{
  color : lightseagreen;
  padding-left : 45%;
}